nav {
  height: 8vh;
  width: 90vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-left: 40px;
  margin-top: 2vh;
  z-index: 2;
  border: 0.5px solid #e8e8e8;
  box-sizing: border-box;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: white;
  position: fixed;
}
nav .logo {
  font-weight: bold;
  width: 30vw;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}
nav .nav {
  width: 40vw;
  /* background: green; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.6rem;
  align-items: center;
}
nav .username {
  width: 30vw;
  font-size: 1.7rem;
  text-align: end;
}
